.container{
    margin: 0 auto;
}
.topPart{
    position: relative;
    overflow: hidden;
}
.shad {
    position: absolute;
    top: -500px;
    left: 0;
    bottom: -500px;
    right: 0;
    box-shadow: 0 0 600px 0 #000 inset;
    z-index: 5;
}
.topPartM{
    display: none;
}
.aboutUsBox{
    font-size: 0;
    background-color: #f5f8fa;
    padding: 70px 0 85px;
}
.abortUs {
    width: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.leftPart{
    width: 400px;
    height: 282px;
}
.leftPart img{
    width: 100%;
}
.rightPart{
    flex: 1;
    padding-left: 50px;
    padding-top: 30px;
    position: relative;
}
.rightPart p:nth-of-type(1){
    font-size: 24px;
    color: #333;
}
.rightPart p:nth-of-type(2){
    font-size: 16px;
    color: #333;
    border-bottom: 2px solid #308bb5;
    width: 120px;
    line-height: 42px;
}
.rightPart p:nth-of-type(3){
    margin-top: 35px;
    font-size: 16px;
    color: #666;
    line-height: 26px;
}
.rightPart p:nth-of-type(4){
    font-size: 16px;
    color: #666;
    line-height: 30px;
}
.rightPart a{
    position: absolute;
    right: 10px;
    top: 66px;
    text-decoration: underline;
    color: #308bb5;
    z-index: 6;
    font-size: 16px;
}
.midPart{
    height: 500px;
    background: url("./img/banner-1.png") no-repeat center;
    background-size: cover;
    padding-left: 18.8%;
    padding-top: 80px;
}
.midPart h3{
    font-size: 26px;
    color: #333333;
    letter-spacing: 2px;
}
.midPart section:nth-of-type(1){
    border-left: 2px solid #308bb5;
    padding-left: 27px;
    margin-bottom: 33px;
    margin-top: 72px;
}
.midPart section:nth-of-type(1) p{
    width: 26.4%;
}
.midPart section:nth-of-type(2){
    border-left: 2px solid #3da8d9;
    padding-left: 27px;
    margin-bottom: 27px;
}
.midPart section:nth-of-type(2) p{
    width: 24%;
}
.midPart section:nth-of-type(3){
    border-left: 2px solid #7ec4e5;
    padding-left: 27px;

}
.midPart section:nth-of-type(3) p{
    width: 19.3%;
}
.litTil{
    font-size: 20px;
    color: #666666;
    margin-bottom: 7px;
}
.litDex{
    font-size: 16px;
    color: #666666;
    line-height: 22px;
}
.proSer{
    width: 1200px;
    margin: 0 auto;
}
.proSer h3{
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 72px;
}
.engTil{
    font-size: 16px;
    color: #333333;
    width: 90px;
    border-bottom: 2px solid #308bb5;
    margin: 0 auto;
    text-align: center;
    padding: 8px 0 7px;
}
.proSerBox{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.proSerBoxM{
    display: none;
}
.proSerBox section{
    width: 31.2%;
    height: 400px;
    /*box-shadow: 0 2px 4px #ddd;*/
    margin-bottom: 100px;
}
.proSerBox section img{
    width: 100%;
}
.proSerBox section:hover{
    transform: translate3D(0, -2px, 0);
    box-shadow: 0 10px 20px #ddd;
    border-radius: 2px;
    transition: all .5s;
}
.proSerBox section p:nth-of-type(1){
    font-size: 18px;
    color: #333333;
    padding: 30px 17px 10px 10px;
}
.proSerBox section p:nth-of-type(2){
    font-size: 16px;
    color: #666;
    line-height: 26px;
    padding: 0 17px 30px 10px;
}
.cooperatorPart {
    background-color: #e9ebee;
    padding-top: 30px;
}
.cooperatorPart h3{
    font-size: 24px;
    color: #333333;
    text-align: center;
}
.cooperatorBox{
    width: 1200px;
    margin:44px auto 0;
    padding-bottom: 63px;
}
.cooperatorBox img{
    width: 100%;
}
.cooperatorBox img:nth-child(1){
    display: block;
}
.cooperatorBox img:nth-child(2){
    display: none;
}
@media screen and (max-width: 500px) {
    .topPart{
        display: none;
    }
    .topPartM{
        display: block;
        position: relative;
        overflow: hidden;
        margin-top: 50px;
    }
    .aboutUsBox{
        display: none;
    }

    .midPart{
        width:100%;
        height: 286px;
        background: url("./img/beijing.png") no-repeat center;
        background-size: cover;
        padding: 30px 50px;
    }
    .midPart h3{
        font-size: 15px;
        color: #333333;
        letter-spacing: 2px;
    }
    .midPart section:nth-of-type(1){
        border-left: none;
        padding-left: 0;
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .midPart section:nth-of-type(1) p{
        width: 100%;
    }
    .midPart section:nth-of-type(2){
        border-left: none;
        padding-left: 0;
        margin-bottom: 10px;
    }
    .midPart section:nth-of-type(2) p{
        width: 100%;
    }
    .midPart section:nth-of-type(3){
        border-left: none;
        padding-left: 0;

    }
    .midPart section:nth-of-type(3) p{
        width: 100%;
    }
    .litTil{
        font-size: 13px;
        color: #666;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .litDex{
        font-size: 12px;
        color: #999;
        line-height: 18px;
    }

    .proSer{
        width: 100%;
        margin: 0 auto;
    }
    .proSer h3{
        font-size: 16px;
        color: #333333;
        text-align: center;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .engTil{
        font-size: 12px;
        color: #333333;
        width: 50px;
        border-bottom: 2px solid #308bb5;
        margin: 0 auto;
        text-align: center;
        padding: 4px 0 4px;
    }
    .proSerBox{
        display: none;
    }
    .proSerBoxM{
        display: block;
        width:100%;
        padding: 0 15px;
    }
    .proSerBoxM img{
        width: 100%;
        margin:18px auto;
    }
    .cooperatorPart {
        background-color: #dae1ef;
        padding-top: 20px;
    }
    .cooperatorPart h3{
        font-size: 16px;
        color: #333333;
        text-align: center;
        letter-spacing: 2px;
    }
    .cooperatorBox{
        width: 100%;
        margin:14px auto 0;
        padding-bottom: 28px;
    }
    .cooperatorBox img{
        width: 100%;
    }
    .cooperatorBox img:nth-child(1){
        display: none;
    }
    .cooperatorBox img:nth-child(2){
        display: block;
    }
}